html, body {
  height: 100%;      /* Usa el 100% del "navegador" */
  margin: 0;
}
/* Declara tamaño de icones de imagenes*/
.icons_imgs{
    height: 30px;
    width: 30px;
}
/* Declara color y fondo de mi nombre y puesto*/
#my_name_position{
    color: white;
    background-color: black;
    font-family: Arial;
    font-size: 25px;
}
/* Declara todos los h2*/
h2{
    color: black;
    font-family: arial;
    font-size: 20px;
}
/* Contenedor Flex */
.contenedor {
  display: flex;
  min-height: 100vh;   /* al menos ocupa la altura de la pantalla */
}

/* Columna izquierda (negra) */
.columna.izquierda {
  width: 20%;          /* 30% del ancho */
  background: black;
  min-height: 100vh;   /* ocupa toda la altura de la página */
}

/* Columna derecha (contenido) */
.columna.derecha {
  width: 80%;
  background: beige;
  padding: 20px;
}

/* --- DERECHA: contenedor de cuadros en GRID --- */
.cuadros {
  display: grid;
  grid-template-rows: repeat(3, 1fr); /* 3 filas iguales */
  gap: 20px;
  height: 100%; /* ocupa toda la altura disponible */
}

.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Barra de título del cuadro (ponla negra si quieres) */
.card__header {
  background: #000;     /* cámbialo si quieres otro color */
  color: #fff;
  font-weight: 700;
  padding: 10px 14px;
  text-transform: uppercase;
}

/* Cuerpo del cuadro */
.card__body {
  padding: 14px 16px;
}


